bin/
bincpp/
build/
export/
src/java-win32
src/java-win64
gen/
out/
c++/Release

*.suo
*.sdf
*.vcxproj.user

.idea


# ignore .svn metadata files
.svn
# ignore Maven generated target folders
target
# ignore eclipse files
.project
.classpath
.settings
.scala_dependencies
.externalToolBuilders
.factorypath
# ignore IDEA files
*.ipr
*.iws
.idea
atlassian-ide-plugin.xml
maven-ant-tasks.jar
test-output
classes

